<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<div align="center">
    <form action="" method="post">
        {% csrf_token %}
        {{ book_form.as_p }}
        <input type="submit" value="Add book" />
    </form>
</div>
</body>
</html>