<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About author</title>
</head>
<body>
<div>
    <h1>{{object.first_name}} {{object.last_name}}</h1>
    <p>He/She is {{object.age}} years old</p>
    <p>Author`s id: {{object.id}}</p>
</div>
<p><a class="button" href="{% url 'book_list' %}" >Go to books list</a></p>
<p><a class="button" href="{% url 'author_list' %}" >Go to authors list</a></p>
</body>
</html>