<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
{% for author in authors %}
<div>
    <h2>{{author.first_name}} {{author.last_name}}</h2>
    <p><a class="button" href="{% url 'author_detail' author.id %}" >Read full info about author</a></p>
    <p><a class="button" href="{% url 'book_list' author.id %}" >Go to author`s books</a></p>
    <hr>
</div>
{% endfor %}
<h2 align="center"><a class="button" href="{% url 'index' %}" >Go to welcome page</a></h2>
</body>
</html>