<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book review</title>
</head>
<body>
{% for review in reviews %}
<div>
    <h1>{{review.reviewer}}</h1>
    <p>Review star: {{review.review_star}}</p>
    <p>Review text: {{review.review_text}}</p>
    <p>Created date: {{review.created_date}}</p>
</div>
{% endfor %}
<h2 align="center"><a class="button" href="{% url 'book_list' %}" >Go to books list</a></h2>
</body>
</html>