<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book description</title>
</head>
<body>
<div>
    <p>{{object.description}}</p>
    <p><a class="button" href="{% url 'book_list' %}" >Go to other books</a></p>
</div>
</body>
</html>