<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKS</title>
</head>
<body>
{% for book in books %}
<div align="center">
    <h2>{{book.title}}</h2>
    <p><a class="button" href="{% url 'book_description' book.id %}" >Read full description</a> |
    <a class="button" href="{% url 'book_detail' book.id %}" >Read full info about book</a></p>
    <p><a class="button" href="{% url 'author_detail' book.author_id %}" >Read full info about author</a> |
        <a class="button" href="{% url 'book_review' book.id %}" >Read reviews on this book</a></p>
    <hr>
</div>
{% endfor %}
<h2 align="center"><a class="button" href="{% url 'index' %}" >Go to welcome page</a></h2>
</body>
</html>