<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About book</title>
</head>
<body>
<div align="center">
    <h1>{{book.title}}</h1>
    <p>{{book.description}}</p>
    <p>Released year: {{book.released_year}}</p>
    <p>Author`s id: {{book.author}}</p>
    <a class="button" href="{% url 'book_list' %}" >Go to other books</a>
</div>
{% if user.is_authenticated %}
<div align="left">
    <form action="" method="post">
        {% csrf_token %}
        {{ form_r.as_p }}
        <input type="submit" value="Publish" />
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}
</body>
</html>