<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>
<div align="right">
    {% if user.is_authenticated %}
    <h2><a href="{% url 'logout' %}"> Logout</a>({{ user.username }})</h2>
    {% else %}
    <h3><a class="button" href="{% url 'register' %}" >Register</a> | <a class="button" href="{% url 'login' %}" >Login</a></h3>
    {% endif %}
</div>

<div align="center">
    <h1>Welcome to the bookstore!</h1>
    <p><h3><a class="button" href="{% url 'book_list' %}" >Go to all books in library</a></h3></p>
    <p><h3><a class="button" href="{% url 'author_list' %}" >Go to authors</a></h3></p>
    <form action="books/search/" method="get">
        <input type="text" name="book">
        <input type="submit" value="Search">
    </form>
    <h3>
        <a class="button" href="{% url 'add_new_book' %}" >Add new book</a> |
        <a class="button" href="{% url 'add_new_author' %}" >Add new author</a>
    </h3>
</div>
</body>
</html>